section {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 64px;

  img {
    width: 300px;
  }

  h1 {
    color: #07029C;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
    padding-bottom: 100px;

    img {
      width: 900px;
      height: 398px;
    }

    h1 {
      font-size: 2rem;
      font-weight: 400;
    }

    .infos {
      gap: 24px;

      p {
        font-size: 1.3rem;
      }
    }
  }
}
