<app-container>
  <section>
    <img src="assets/image/notebook.jpeg" alt="notebook">
    <h1>Seu Evento</h1>
    <div class="infos">
      <p><b>Nome do evento:  </b> Guilda de UX</p>
      <p><b>Data:  </b> 22/09/23</p>
      <p><b>Horário:  </b> 17:00</p>
      <p><b>Local:  </b> Rua das Bromelias, 670 - São Paulo agevfuifdh uhfus </p>
      <p><b>Sobre:  </b> Lorem ipsum dolor sit amet consectetur. </p>
      <p><b>Categoria:  </b> Pago  Presencial</p>
    </div>
  </section>
</app-container>
