footer {
  color: #000000;
  padding: 20px 10px;

  nav ul{
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    li a {
      font-size: 1rem;
      font-weight: 400;
      text-decoration: none;

    }
    .logo {
      color: #07029C;
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 24px;

    nav ul{
      max-width: 1200px;
      justify-content: space-between;

      li a {
        font-size: 1.5rem;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
