<form [formGroup]="registerForm" (submit)="submit()">
  <app-container class="container">
  <div class="inner-container">
    <fieldset>
      <li>
        <label for="name">Nome do Evento *</label>
        <input formControlName="eventName" class="inputName" type="text" name="name" id="name" placeholder="Digite o nome do Evento">
      </li>
      <li>
        <label for="date">Data *</label>
        <input formControlName="date" type="date" name="date" id="date" placeholder="DD/MM/AAAA">
      </li>
      <li>
        <label for="time">Horário: </label>
        <input formControlName="time" type="time" name="time" id="time" placeholder="00:00">
      </li>
    </fieldset>
    <fieldset>
      <legend>Localidade</legend>
      <li>
        <label for="street">Rua *</label>
        <input formControlName="street" type="text" name="street" id="street" placeholder="Digite a rua do evento">
      </li>
      <li>
        <label for="number">Número *</label>
        <input formControlName="number" type="number" name="number" id="number" placeholder="Digite o nº da rua">
      </li>
      <li>
        <label for="city">Cidade *</label>
        <input formControlName="city" type="text" name="city" id="city" placeholder="Digite  a cidade">
      </li>
      <li>
        <label for="state">Estado *</label>
        <input formControlName="state" type="text" name="state" id="state" placeholder="Digite o estado">
      </li>
      <li>
        <label for="cep">Cep *</label>
        <input formControlName="cep" type="number" name="cep" id="cep" placeholder="Digite o CEP">
      </li>
    </fieldset>
    <fieldset class="fildset-checkbox">
      <legend>Categorias *</legend>
      <div>
        <li>
          <label for="online">Online</label>
          <input formControlName="place" type="radio" value="online" id="online">
        </li>
        <li>
          <label for="inPerson">Presencial</label>
          <input formControlName="place" type="radio" value="inPerson" id="inPerson">
        </li>
      </div>

      <div>
        <li>
          <label for="paid">Pago</label>
          <input formControlName="paiment" type="radio" value="paid" id="paid">
        </li>
        <li>
          <label for="free">Gratuito</label>
          <input formControlName="paiment" type="radio" value="free" id="free">
        </li>
      </div>
    </fieldset>
    <fieldset>
      <li>
        <label for="description">Descrição *</label>
        <textarea formControlName="description" name="description" id="description" cols="57" rows="5" placeholder="Descreva sobre o evento:  o que é, qual o cronograma , etc.."></textarea>
      </li>
    </fieldset>
    <fieldset>
      <li>
        <label for="image-link">Imagem *</label>
        <input formControlName="imageLink" type="url" name="imageLink" id="image-link" class="inputImage" placeholder="Insira o link da sua imagem">
      </li>
    </fieldset>
    <div>
      <button class="btn-add" type="submit">Adicionar</button>
    </div>
  </div>
  </app-container>
</form>
